<ion-header>
  <ion-toolbar style="padding-right: 0;">
    <ion-buttons slot="start">
      <ion-button color="secondary" (click)="closeModal()">
        <ion-icon slot="icon-only"  name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="save()">
        Guardar
      </ion-button>
    </ion-buttons>


    <ion-progress-bar *ngIf="loading" color="secondary" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" style="min-width: 100vw;">
  <image-cropper 
    [imageBase64]="file.dataURI ? file.dataURI : null"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    format="jpg"
    resizeToWidth="1080"
    resizeToHeight="1080"
    roundCropper="true"
    imageQuality="100"
    hideResizeSquares="true"
    (imageCropped)="imageCropped($event)"
    (cropperReady)="cropperReady()"
    (imageLoaded)="imageLoaded()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  
</ion-content>
