<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding" class="ion-text-left">Magia de Amor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <h1 class="ion-text-center">Océano Casa Espiritual</h1>
  </ion-card>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta, accusamus rem consequuntur, qui distinctio dolorum itaque sequi quae possimus cupiditate doloremque molestias molestiae quidem culpa vitae? Ea, odio cupiditate?</p>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin">
    <ion-fab-button (click)="navigate('contact')" color="light">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
