<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">Magia de amor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card class="ion-no-margin ion-text-center">
    <ion-card-header>
      <ion-card-title color="secondary">Oceano casa de amor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta, accusamus rem consequuntur, qui distinctio dolorum itaque sequi quae possimus cupiditate doloremque molestias molestiae quidem culpa vitae? Ea, odio cupiditate?</p>
  
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin">
    <ion-fab-button (click)="navigate('contact')" color="secondary">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
