<div class="player">
  <div class="player-control" [ngClass]="{'error' : error}" (click)="togglePlayer()">
    <ion-spinner  *ngIf="loading" color="light"></ion-spinner>
    <ion-icon *ngIf="!playing && !loading && !error" name="play" size="large"></ion-icon>
    <ion-icon *ngIf="playing && !loading && !error" name="pause" size="large"></ion-icon>
    <ion-icon *ngIf="error && !loading"  name="warning" size="large"></ion-icon>
  </div>
  <div class="player-info">
    <div class="player-title" [ngClass]="{'error' : error}">{{ title }}</div>
    <div class="playe-slider">
      <ion-range #range 
        disabled="true"
       (touchend)="seek()"
        (mouseup)="seek()"></ion-range>
    </div>
    <div class="player-duration">
      <div class="player-duration-start">{{_seek  * 1000 | date:'mm:ss'}}</div>
      <div class="player-duration-end">{{duration  * 1000 | date:'mm:ss'}}</div>
    </div>
  </div>
</div>