
<ion-content>
  <h1 class="app-title ion-padding">MAGIA DE AMOR</h1>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="loginUser(loginForm.value)"
    class="login ion-margin"
  >
    <h2 class="titlelogin ion-margin-bottom" >ACCESO</h2>

    <ng-container>
      <ion-label class="titleinput">Email</ion-label>
      <ion-item class="ion-no-padding">
        <ion-input class="input-transparent" formControlName="email"></ion-input>
      </ion-item>

      <ng-container *ngFor="let validation of validation_messages.email">
        <div
          class="validation"
          *ngIf="loginForm.get('email').hasError(validation.type) && 
                    (loginForm.get('email').dirty ||
                    loginForm.get('email').touched)"
        >
          {{ validation.message}}
        </div>
      </ng-container>

      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="titleinput">Constraseña</ion-label>
        <ion-input class="input-transparent" type="password" formControlName="password"></ion-input>
      </ion-item>

      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          class="validation"
          *ngIf="loginForm.get('password').hasError(validation.type) && 
                    (loginForm.get('password').dirty ||
                    loginForm.get('password').touched)"
        >
          {{ validation.message}}
        </div>
      </ng-container>
    </ng-container>

    <div class="buttons">
      <ion-button
        class="ion-margin-top"
        color="primary"
        expand="full"
        [disabled]="!loginForm.valid"
        type="submit"
        >Iniciar Sesión
      </ion-button>
      <ion-label
        style="
          display: block;
          text-align: center;
          font-weight: 400;
          font-size: 12px;
        "
        color="light"
        class="ion-margin-top"
        >CONTINÚAR CON</ion-label
      >
      <ion-row>
        <ion-col size="6" class="ion-no-padding"
          ><ion-button class="ion-margin-top fb" expand="full">
            <ion-icon name="logo-facebook"></ion-icon> </ion-button
        ></ion-col>

        <ion-col size="6" class="ion-no-padding">
          <ion-button class="ion-margin-top gl" expand="full">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-button
        class="ion-margin-top"
        color="light"
        (click)="goToRegister()"
        expand="full"
        fill="clear"
        >Registrarme
      </ion-button>
    </div>
  </form>
</ion-content>
