<ion-header class="ion-no-border" >
  <ion-toolbar color="primary" class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">Administración</ion-title>
  </ion-toolbar>
  
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content >
  <ion-list class="ion-no-padding">
    <ion-card *ngFor="let user of users" class="ion-activatable ripple-parent ion-no-margin" (click)="editUser(user)">
      <ion-card-content>
        <ion-card-title class="user-title">
          {{user.full_name}}
        </ion-card-title>
        <ion-item class="ion-float-right ion-no-padding">
          <ion-icon name="eye-outline" color="secondary" ></ion-icon>
        </ion-item>
      </ion-card-content>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  </ion-list>
</ion-content>
