<ion-split-pane contentId="contentPrincipal">
  <ion-menu contentId="contentPrincipal" side="start">
    <div class="avatar-container">
      <ion-avatar class="ion-margin">
        <img src="https://m.media-amazon.com/images/M/MV5BMjEzMjA0ODk1OF5BMl5BanBnXkFtZTcwMTA4ODM3OQ@@._V1_UY317_CR6,0,214,317_AL_.jpg">
      </ion-avatar>
      <ion-label class="username">{{ user.full_name}}</ion-label>
    </div>
    

    <ion-content>
      <ion-list>
        <ion-item  (click)="navigate('menu/tabs/home')" class="ion-margin " >
          <ion-icon
            name="home-outline"
            color="primary"
            slot=""
          ></ion-icon>
          Inicio
          </ion-item>

        <ion-item class="ion-margin" (click)="navigate('menu/tabs/workshops')" >
          <ion-icon
            name="book-outline"
            color="primary"
            slot="start"
           
          ></ion-icon>
          Mis talleres</ion-item
        >

        <ion-item class="ion-margin" (click)="navigate('menu/tabs/contact')" >
          <ion-icon
            name="mail-outline"
            color="primary"
            slot="start"
          ></ion-icon>
          Contacto</ion-item
        >
        <ion-item class="ion-margin" (click)="navigateForward('admin')">
          <ion-icon
            name="settings-outline"
            color="primary"
            slot="start"
          ></ion-icon>
          Administración
        </ion-item>

        <ion-item *ngIf="isLoggedIn" class="ion-margin" (click)="navigate('menu/tabs/configuration')">
          <ion-icon
           name="person-outline"
           color="primary"
           slot="start"
           ></ion-icon>
          Configuración
        </ion-item>

        <ion-item  *ngIf="isLoggedIn" class="ion-margin" (click)="logOut()">
          <ion-icon name="log-out-outline" color="primary"
          slot="start"></ion-icon>
          Salir
        </ion-item>

        <ion-item  *ngIf="!isLoggedIn" class="ion-margin" (click)="navigate('login')">
          <ion-icon name="log-in-outline" color="primary"
          slot="start"></ion-icon>
          Iniciar sesión
        </ion-item>

        
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-label>Redes sociales</ion-label>
      <div class="menu-footer">
        <ion-button color="dark"  expand="block" fill="clear">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
  
        <ion-button color="dark"  expand="block" fill="clear">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
  
        <ion-button color="dark"  expand="block" fill="clear">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </div>      
    </ion-footer>

  </ion-menu>
  <ion-router-outlet id="contentPrincipal" main></ion-router-outlet>
</ion-split-pane>
