<ion-split-pane contentId="contentPrincipal">
  <ion-menu contentId="contentPrincipal" side="start">
    <div class="avatar-container">
      <ion-avatar *ngIf="userData.isLoggedIn"  class="ion-margin" (click)="navigate('menu/tabs/configuration')">
        <img [src]="userData.user.avatar">
        <ion-badge  ><ion-icon name="pencil"></ion-icon></ion-badge>
      </ion-avatar>
      <ion-avatar *ngIf="!userData.isLoggedIn"  class="ion-margin">
        <img [src]="userData.user.avatar">
      </ion-avatar>
      <ion-label class="username">{{ userData.user.full_name}}</ion-label>
    </div>
    

    <ion-content>
      <ion-list>
        <ion-item  (click)="navigate('menu/tabs/home')"  >
          <ion-icon
            name="home-outline"
            color="primary"
            slot=""
          ></ion-icon>
          Inicio
          </ion-item>

        <ion-item  (click)="navigate('menu/tabs/workshops')" >
          <ion-icon
            name="book-outline"
            color="primary"
            slot="start"
           
          ></ion-icon>
          Mis talleres</ion-item
        >

        <ion-item  (click)="navigate('menu/tabs/contact')" >
          <ion-icon
            name="mail-outline"
            color="primary"
            slot="start"
          ></ion-icon>
          Contacto</ion-item
        >
        <ion-item *ngIf="userData.isLoggedIn && userData.user.role == '1'" (click)="navigateForward('admin')">
          <ion-icon
            name="settings-outline"
            color="primary"
            slot="start"
          ></ion-icon>
          Administración
        </ion-item>

        <ion-item *ngIf="userData.isLoggedIn"  (click)="navigate('menu/tabs/configuration')">
          <ion-icon
           name="person-outline"
           color="primary"
           slot="start"
           ></ion-icon>
          Editar perfil
        </ion-item>

        <ion-item color="" *ngIf="userData.isLoggedIn" (click)="logOut()">
          <ion-icon name="log-out-outline" color="primary"
          slot="start"></ion-icon>
          Salir
        </ion-item>
    
        <ion-item color="" *ngIf="!userData.isLoggedIn" (click)="login()">
          <ion-icon name="log-in-outline" color="primary"
          slot="start"></ion-icon>
          Iniciar sesión
        </ion-item>
      </ion-list>  
    </ion-content>

    <ion-footer>
      <ion-label>Compartir</ion-label>
      <div class="menu-footer">      
        <ion-button color="primary" fill="clear" (click)="ShareGeneric('text')"><ion-icon name="share-social-outline"></ion-icon></ion-button>
      <!-- <ion-button class="fb" (click)="ShareFacebook()"><ion-icon name="logo-facebook"></ion-icon></ion-button>
        <ion-button color="success" (click)="ShareWhatsapp()"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>-->
      </div> 
    <!--<share-buttons [theme]="'material-dark'"
        [include]="['whatsapp','messenger','copy','facebook']"
        [show]="4"
        [size]="-3"
        [url]="'https://es.wikipedia.org/wiki/Wikipedia:Portada'"
        [autoSetMeta]="false"
      ></share-buttons> -->
    </ion-footer> 


  </ion-menu>
  <ion-router-outlet id="contentPrincipal" main></ion-router-outlet>
</ion-split-pane>
