<ion-split-pane contentId="contentPrincipal">
  <ion-menu contentId="contentPrincipal" side="start">

    <ion-avatar class="ion-margin">
      <img src="https://m.media-amazon.com/images/M/MV5BMjEzMjA0ODk1OF5BMl5BanBnXkFtZTcwMTA4ODM3OQ@@._V1_UY317_CR6,0,214,317_AL_.jpg">
    </ion-avatar>

    <ion-label class="username">Elizabeth Olsen</ion-label>

    <ion-content>
      <ion-list>
        <ion-item  (click)="navigate('home')" class="ion-margin" >
          <ion-icon
            name="home"
            color="light"
            slot="start"
          ></ion-icon>
          Inicio
          </ion-item
        >

        <ion-item class="ion-margin" (click)="navigate('workshops')" >
          <ion-icon
            name="book"
            color="light"
            slot="start"
           
          ></ion-icon>
          Mis talleres</ion-item
        >

        <ion-item class="ion-margin" (click)="navigate('contact')" >
          <ion-icon
            name="mail"
            color="light"
            slot="start"
          ></ion-icon>
          Contacto</ion-item
        >
      </ion-list>
    </ion-content>

    <ion-footer class="ion-padding">

      <ion-label color="light">Redes sociales</ion-label>

      <div class="menu-footer">

        <ion-button color="light" expand="block" fill="clear" size="small">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
  
        <ion-button color="light" expand="block" fill="clear" size="small">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
  
        <ion-button color="light" expand="block" fill="clear" size="small">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
  
        <ion-button color="light" expand="block" fill="clear" size="small">
          <ion-icon name="logo-linkedin"></ion-icon>
        </ion-button>
  
        <ion-button color="light" expand="block" fill="clear" size="small">
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-button>
      </div>
      
      
    </ion-footer>

  </ion-menu>
  <ion-router-outlet id="contentPrincipal" main></ion-router-outlet>
</ion-split-pane>
