ion-menu {
    --background: #f2f2f2;
}

.avatar-container {
    background: rgb(246,123,40);
    background: radial-gradient(circle, rgba(246,123,40,1) 0%, rgba(255,193,7,1) 80%);
}

ion-content,  ion-item , ion-list{

    --background: transparent;
    --border-style: none;
    
    background-color: transparent;
}

ion-item {
    font-size: 14px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, .20);
    ion-icon {
        margin-right: 10px;

    }
}

ion-avatar {

    margin: 50px auto var(--ion-margin, 16px);

    width: 100px;
    height: 100px;

    border: 3px solid var(--ion-color-light);
}

.username {
    display: block;
    text-align: center;
    font-weight: 500;
    color: var(--ion-color-light);
    margin-bottom: 25px;
    
}


ion-footer {

    background: #fff;
    text-align: center;
    font-weight: 300;
    padding: 8px;
    
    
    .menu-footer {
        display: flex;
        justify-content: center;
    
    }
}

