<ion-header>
  <ion-toolbar style="padding-right: 52px; padding-left: 0px;">
    <ion-title color="secondary" style="font-weight: 500;">{{lesson.title || 'Lección'}}</ion-title>
    <ion-buttons slot="start">
      <ion-button color="secondary" (click)="closeModal()">
        <ion-icon slot="icon-only"  name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>

  <ion-progress-bar *ngIf="loading" type="indeterminate" color="secondary"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-segment
    (ionChange)="segmentChanged($event)"
    [(ngModel)]="segmentValue"
  >
    <ion-segment-button value="edit">
      <ion-label>Editar</ion-label>
    </ion-segment-button>
    <ion-segment-button value="add">
      <ion-label>Contenidos</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!--SEGMENT CON EDITAR LECCION y CONTENIDOS-->
  <div [ngSwitch]="segmentValue">

    <ng-container
    *ngSwitchCase="'edit'">
      <app-lessons
      *ngIf="lesson.id_lesson"
      [lesson]="lesson"
      [editing]="true"
      (saveLesson)="saveLesson($event)"
      ></app-lessons>
    </ng-container>

    <ng-container *ngSwitchCase="'add'">
  
      <app-content-form [editing]="false" (saveContent)="saveContent($event)"></app-content-form>
    <!--CONTENTS FORM EN MODO AGREGAR-->
    <ion-list-header *ngIf="lesson.contents">
      <ion-label color="secondary">Contenidos</ion-label>
    </ion-list-header>

    <p *ngIf="lesson.contents && lesson.contents.length == 0 && !loading" style="text-align: center; color: var(--ion-color-medium);" >Aún no hay contenido disponible.</p>

    <app-content-form 
      *ngFor="let content of lesson.contents" 
      editing="true" 
      [content]="content"
      (saveContent)="saveContent($event)"
    ></app-content-form>

   </ng-container>
  </div>
</ion-content>
