<ion-header>
  <ion-toolbar>
    <ion-title>configuser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input [(ngModel)]="user.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Correo</ion-label>
          <ion-input [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input [(ngModel)]="user.password"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button clear small color="primary" (click)="onSave()">Guardar</button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" (click)="onCancel()" icon-left>
          <ion-icon name="trash"></ion-icon>
          Cancelar
        </button>     
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
