<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title>Magia de amor </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
  <div >
    <h1>Talleres</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus in vel asperiores tenetur, quisquam ullam blanditiis magni aperiam soluta dolores facere mollitia quam facilis cumque distinctio earum ratione harum veniam.</p>
  </div>
  <ion-list *ngIf="workshops.length">
    <ion-item *ngFor="let workshop of workshops">
      <span>lecciones
        <ion-icon name="add-circle-outline" color="secondary" slot="end" (click)="alertConf()"></ion-icon>
      </span>
    </ion-item>
  </ion-list>
</ion-content>
