<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="transparent-toolbar">
    <ion-title class="ion-no-padding">Taller</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="light">Lección 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <iframe width="100%" height="315" [src]="vidUrl" frameborder="0" allowfullscreen></iframe>

  <ion-button expand="full" (click)="openLocalPdf()">Abrir PDF local</ion-button>
  <ion-button expand="full" (click)="dowloadAndOpenPdf()">Descargar y abrir PDF</ion-button>

  <ion-item>
    <ion-label position="floating">Comentarios</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
