<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-no-padding">Taller</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="has-footer">
  <ion-card class="ion-no-padding ion-no-margin header">
    <ion-card-header>
      <ion-card-title>{{lesson.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{lesson.description}}
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label color="secondary">Archivos</ion-label>
    </ion-list-header>

    <iframe
      width="100%"
      [src]="vidUrl"
      frameborder="0"
      id="video"
      allowfullscreen
    ></iframe>

    <audio controls>
      <source
        src="https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_1MG.mp3"
        type="audio/mpeg"
      />
      Your browser does not support the <code>audio</code> element.
    </audio>

    <ion-item class="ion-activatable ripple-parent" (click)="showPdf()">
      <ion-icon name="document-outline" class="ion-margin-end"></ion-icon>
      <ion-label> {{ pdfData.title }}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label color="secondary">Comentarios</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let comment of lesson.comments">
      <ion-avatar slot="start">
        <img [src]="comment.avatar" />
      </ion-avatar>
      <ion-label
        style="word-break: normal; white-space: normal;"
        class="ion-padding-end"
      >
        <h2 class="comment-name">{{comment.username}}</h2>
        <p>{{comment.comment}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
