<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-no-padding" *ngIf="lesson.workshop_title">{{lesson.workshop_title || 'Magia de amor'}}</ion-title>
    <ion-title  class="ion-no-padding" *ngIf="!lesson.workshop_title">
      <ion-skeleton-text animated style="width: 40%; margin: auto;"></ion-skeleton-text>
    </ion-title>
    <ion-buttons slot="start" >
      <ion-button  (click)="goBack()" >
        <ion-icon class="back" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card class="ion-no-padding ion-no-margin header">
    <ion-card-header>
      <ion-card-title *ngIf="lesson.title">{{lesson.title}}</ion-card-title>
      <ion-card-title *ngIf="!lesson.title">
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="lesson.description">
      {{lesson.description}}
    </ion-card-content>
    <ion-card-content *ngIf="!lesson.description">
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ion-header>

<ion-content [fullscreen]="false" class="has-footer">
  <p *ngIf="lesson.contents && lesson.contents.length == 0" style="text-align: center; color: var(--ion-color-medium);" >Aún no hay contenido disponible.</p>

  <ion-list *ngFor="let content of lesson.contents">
    <ng-container *ngIf="content.type == '1'">
      <ion-list-header>
        <ion-label color="secondary">Video</ion-label>
      </ion-list-header>
      <div class="ion-padding-horizontal ion-margin-bottom">
        <iframe
          width="100%"
          height="200"
          [src]="content.url | safe:'resourceUrl'"
          id="video"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </ng-container>
    
    <ng-container *ngIf="content.type == '2'">
      <ion-list-header>
        <ion-label color="secondary">Audio</ion-label>
      </ion-list-header>
      <div class="ion-padding-horizontal ion-margin-bottom">
        <app-audio-player
          title="{{content.title}}"
          url="{{content.url}}"
        ></app-audio-player>
      </div>
    </ng-container>
    
    <ng-container *ngIf="content.type == '3'">
      
      <ion-list-header >
        <ion-label color="secondary">Archivo PDF</ion-label>
      </ion-list-header>
      <div class="ion-padding-horizontal ion-margin-bottom">
        <ion-card
          class="ion-activatable ripple-parent ion-no-margin"
          (click)="openPDF(content.url)"
        >
          <ion-card-content class="file">
            <div class="icon">
              <ion-icon name="document-outline"></ion-icon>
            </div>
            <div class="text">
              <div class="title">{{ content.title }}</div>
              <div class="pdf">Abrir pdf</div>
            </div>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </div>
    </ng-container>
    
  </ion-list>

  <ion-list >
    <ion-list-header>
      <ion-label color="secondary">Comentarios</ion-label>
    </ion-list-header>

    <div style="margin: 4px 16px 16px;">
      <app-comment-form *ngIf="lesson.id_lesson && userData.isLoggedIn" 
    (updateComments)="getComments()"
    count="true"
    id_lesson="{{lesson.id_lesson}}" 
    token="{{userData.user.token}}"></app-comment-form>
    </div>
   
   
    <ion-item *ngFor="let comment of comments" >
      <ion-avatar slot="start">
        <img [src]="comment.avatar || 'assets/avatar.jpg'" />
      </ion-avatar>
      <ion-label
        style="word-break: normal; white-space: normal;"
        class="ion-padding-end"
      >
        <h2 class="comment-name">{{comment.full_name}} <ion-badge *ngIf="comment.role == 1" color="secondary">Admin</ion-badge></h2>
        <p>{{comment.comment}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <p *ngIf="comments.length == 0" style="text-align: center; color: var(--ion-color-medium);" >Aún no hay comentarios disponibles.</p>

  <ion-button *ngIf="totalComments > 5"
      class="ion-margin"
      (click)="showComments()"
      expand="full"
      fill="clear"
      >Ver mas comentarios...
    </ion-button>
</ion-content>
