


ion-input {
  color: var(--ion-color-light);
  border-bottom: 1px solid var(--ion-color-light);
  font-weight: 300;
}

ion-card {
  border-radius: 0;
  
  box-shadow: none;

  border-bottom: 1px solid rgba(0, 0, 0, .08);

}

ion-card-subtitle {
  color: #ddebe4;
  font-weight: 400;
}


.file{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }

  .text {
    display: block;
    width: calc(100% - 40px);
    padding: 8px;

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}

.comment-name {
  font-weight: 500;
  font-size: 14px;
}




