<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-no-padding" *ngIf="!loading">{{lesson.workshop_title || 'Magia de amor'}}</ion-title>
    <ion-title  class="ion-no-padding" *ngIf="loading">
      <ion-skeleton-text animated style="width: 40%; margin: auto;"></ion-skeleton-text>
    </ion-title>
    <ion-buttons slot="start" >
      <ion-button  (click)="goBack()" >
        <ion-icon class="back" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  
</ion-header>

<ion-content [fullscreen]="false" class="has-footer">
  <ion-card class="ion-no-padding ion-no-margin header">
    <ion-card-header>
      <ion-card-title *ngIf="!loading">{{lesson.title}}</ion-card-title>
      <ion-card-title *ngIf="loading">
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!loading">
      {{lesson.description}}
    </ion-card-content>
    <ion-card-content *ngIf="loading">
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  
  <ion-list-header *ngIf="lesson.contents">
    <ion-label color="secondary">Contenidos</ion-label>
  </ion-list-header>

  <ion-list-header *ngIf="loading">
    <ion-label color="secondary"><ion-skeleton-text animated style="width: 35%"></ion-skeleton-text></ion-label>
  </ion-list-header>
  <p *ngIf="lesson.contents && lesson.contents.length == 0 && !loading" style="text-align: center; color: var(--ion-color-medium);" >Aún no hay contenido disponible.</p>

  <ng-container *ngIf="loading">
    <div class="ion-padding-horizontal " style="width: 100%; height: 180px; ">
      <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
    </div>
  
    <ion-list class="ion-no-padding" *ngIf="loading" >
      <ion-card *ngFor="let i of ' '.repeat(5).split('')" style="transition: all .3s ease;">
        <ion-card-content style="display: flex; justify-content: start; align-self: center;" >
          <ion-avatar style="width: 40px; height: 40px; margin-right: 16px;">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-avatar>
          <div class="" style="width: calc(100% - 58px);">
            <ion-card-title ><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></ion-card-title>
          <ion-card-subtitle><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-subtitle>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>  
  </ng-container>

  <ion-list *ngFor="let content of lesson.contents">
          
    <ng-container *ngIf="content.type == '1'">
      <!--ion-list-header>
        <ion-label color="secondary">Video</ion-label>
      </ion-list-header-->

      <div class="ion-padding-horizontal">
        <app-video
        title="{{content.title != null ? content.title :  lesson.title}}"
          url="{{content.url}}"
        ></app-video>
      </div>
    </ng-container>
    
    <ng-container *ngIf="content.type == '2'">
      <!--ion-list-header>
        <ion-label color="secondary">Audio</ion-label>
      </ion-list-header-->

      <div class="ion-padding-horizontal">
        <app-audio
          title="{{content.title != null ? content.title : 'Audio'}}"
          url="{{content.url}}"
        ></app-audio>
      </div>
    </ng-container>
    
    <ng-container *ngIf="content.type == '3'">
      <div class="ion-padding-horizontal">
        <app-pdf [content]="content"></app-pdf>
      </div>
    </ng-container>
    
  </ion-list>

  <ion-list >
    <ion-list-header *ngIf="!loading">
      <ion-label color="secondary">Comentarios</ion-label>
    </ion-list-header>

    <div style="margin: 4px 16px 16px;">
      <app-comment-form *ngIf="lesson.id_lesson && userData.isLoggedIn" 
    (updateComments)="getComments()"
    count="true"
    id_lesson="{{lesson.id_lesson}}" 
    token="{{userData.user.token}}"></app-comment-form>
    </div>
   
   
    <ion-item *ngFor="let comment of comments" >
      <ion-avatar slot="start">
        <img [src]="comment.avatar || 'assets/avatar.jpg'" />
      </ion-avatar>
      <ion-label
        style="word-break: normal; white-space: normal;"
        class="ion-padding-end"
      >
        <h2 class="comment-name">{{comment.full_name}} <ion-badge *ngIf="comment.role == 1" color="secondary">Admin</ion-badge></h2>
        <p>{{comment.comment}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <p *ngIf="comments.length == 0 && !loading" style="text-align: center; color: var(--ion-color-medium);" >Aún no hay comentarios disponibles.</p>

  <ion-button *ngIf="totalComments > 5"
      class="ion-margin"
      (click)="showComments()"
      expand="full"
      fill="clear"
      >Ver mas comentarios...
    </ion-button>
</ion-content>
