<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="transparent-toolbar">
    <ion-title class="ion-no-padding">Mis talleres</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list class="ion-no-padding">
    <ion-card *ngFor="let a of workshops" class="ion-activatable ripple-parent" (click)="goToWorkship('list-workshop')">
      <ion-card-content>
        <ion-item class="ion-float-right ion-no-padding">
          <ion-icon name="chevron-forward" color="light"></ion-icon>
        </ion-item>
        <div class="list-title">
          El camino a la prosperidad
        </div>
        <ion-card-subtitle>3 de 15 Lecciones.</ion-card-subtitle>
        <ion-progress-bar value=".3" class="ion-margin-top"></ion-progress-bar>
      
      </ion-card-content>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  </ion-list>
</ion-content>