.app-title {  
    text-align: center;
  
    font-size: 44px;
    font-weight: bold;
    margin: 70px auto 15px;
  
    color: var(--ion-color-light);
  }

  ion-content {
    --background: linear-gradient(
        to bottom,
        rgba(21, 87, 153, 0.7),
        rgba(32, 179, 105, 0.7)
      ),
      url("../../../assets/login-bg.jpg")
        no-repeat fixed center;
  }

ion-item {
    --background: transparent;
    --border-style: none;
  
    --padding-end: 0px;
    --inner-padding-end: 0px;
    ion-label{
        .titleadmin{
            text-align: center;
            color: var(--ion-color-light);
        }
    }
  }

