<!--
<ion-header class="ion-no-border">
    <ion-toolbar color="primary" class="transparent-toolbar">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-no-padding">Administración</ion-title>
      
    </ion-toolbar>
</ion-header>
-->
<ion-tabs>
    <ion-tab-bar slot="bottom">
      
    <div class="cover"></div>
      <ion-tab-button tab="adminws">
        <ion-icon name="create-outline" color="light"></ion-icon>
        <ion-label>Talleres</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="adminuser">
        <ion-icon name="person-circle" color="light"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

