<ion-tabs>
  <ion-tab-bar slot="bottom">
    <div class="container">
      
    </div>

    <ion-tab-button tab="home">
      <ion-icon name="home" color="light"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
        
    <ion-tab-button tab="about-us">
      <ion-icon name="logo-web-component" color="light"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workshops">
      <ion-icon name="book" color="light"></ion-icon>
      <ion-label>Mis talleres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
