ion-tab-bar {
    --background: var(--ion-color-primary) ;
    --ion-color-base: transparent !important;

    position: relative;

    border: none;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;

    background:#f67b28;
}

ion-label {
    color: #fff;
}
