
ion-content {
    --background: var(--theme-background);
}
  
ion-title {
    font-weight: 400;
}

ion-title, .list-title {
    font-size: 18px;
}

.list-title, .title {
    font-weight: 500;
    color: var(--ion-color-secondary);
}


