<ion-header>
  <ion-toolbar style="padding-right : 0">
    <ion-title>{{nombre}} {{apellido}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Nombre: {{user.full_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Correo: {{user.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rol: {{user.role}}</ion-label>
    </ion-item>
  </ion-list>
<ion-item>
  <ion-label>Hacer Usuario Administrador</ion-label>

  <ion-toggle (click)="message()" #rol checked="{{user.role == '1' ? true:false}}"></ion-toggle>
</ion-item>
</ion-content>
