ion-card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px 4px 16px;
}

ion-card-content {
  padding-top: 16px;

  .avatar-container {
    padding: 16px;
    ion-avatar {
      margin: 0 auto;
      position: relative;
      width: 130px;
      height: 130px;
    }

  }
  ion-label {
    span {
      color: var(--ion-color-secondary);
      font-weight: bold;
    }
    display: block;
    text-align: center;
  
    margin: 4px 0;
  }
}

ion-virtual-scroll {
  ion-card{
    padding: 8px;
    ion-card-title {
      color: var(--ion-color-dark);
    }
    ion-card-subtitle {
      margin-top: 4px;
      font-size: 12px;
    }
  }
}


