ion-content {
  --background: linear-gradient(
    to bottom,
    rgba(255, 192, 0, 0.8),
    rgba(2, 136, 214, 0.8)
  ),
    url("../../../assets/register-bg.jpg")
      no-repeat fixed center;
}

ion-item {
  --background: transparent;
  --border-style: none;

  --padding-end: 0px;
  --inner-padding-end: 0px;

  &.item-has-focus ion-label {
    color: var(--ion-color-light);
  }
}

ion-toolbar {
  --background: rgba(0, 0, 0, 0);
  --ion-color-base: rgba(0, 0, 0, 0) !important;
}

ion-title,
.list-title {
  font-weight: 400;
  font-size: 18px;
}

.register {
  padding: 15px;
}

.titleregister {
  text-align: center;
  font-weight: 500;
  color: var(--ion-color-light);
}


.titleinput {
  font-weight: bolder;
  color: lightcyan;
  text-align: start;
}

.titlelogin {
  text-align: center;
  font-weight: 500;
  color: var(--ion-color-light);
}

.titleinput {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--ion-color-light);
}

.validation {
  color: var(--ion-color-light);
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
}


.btn-submit {
  margin-top: 50px;
  font-weight: 400;
}


