<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="transparent-toolbar">
    <ion-buttons class="ion-padding-start">
      <ion-button (click)="goToLogin()">
        <ion-icon
          name="arrow-back-outline"
          color="light"
          slot="start"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form
    class="register ion-margin"
    [formGroup]="registerForm"
    (ngSubmit)="registerUser(registerForm.value)"
  >
  <h2 class="titleregister ion-margin-bottom">REGISTRO</h2>
    <ion-item class="ion-no-padding">
      <ion-label position="stacked" class="titleinput">Nombre</ion-label>
      <ion-input class="input-transparent" formControlName="full_name"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.full_name">
      <div class="validation"
        *ngIf="registerForm.get('full_name').hasError(validation.type) && 
                   (registerForm.get('full_name').dirty ||
                   registerForm.get('full_name').touched)"
      >
        {{ validation.message}}
      </div>
    </ng-container>
    <ion-item class="ion-no-padding">
      <ion-label position="stacked" class="titleinput">Email</ion-label>
      <ion-input class="input-transparent" formControlName="email"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.email">
      <div class="validation"
        *ngIf="registerForm.get('email').hasError(validation.type) && 
                     (registerForm.get('email').dirty ||
                     registerForm.get('email').touched)"
      >
        {{ validation.message}}
      </div>
    </ng-container>

    <ion-item class="ion-no-padding">
      <ion-label position="stacked" class="titleinput">Constraseña</ion-label>
      <ion-input class="input-transparent" type="password" formControlName="password"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.password">
      <div class="validation"
        *ngIf="registerForm.get('password').hasError(validation.type) && 
                   (registerForm.get('password').dirty ||
                   registerForm.get('password').touched)"
      >
        {{ validation.message}}
      </div>
    </ng-container>

    <ion-item class="ion-no-padding">
      <ion-label position="stacked" class="titleinput"
        >Confirmar Contraseña</ion-label
      >
      <ion-input class="input-transparent" id="passconfirm" type="password" formControlName="passconfirm"></ion-input>
    </ion-item>
    <ion-label *ngIf="registerForm.controls['passconfirm'].errors?.MatchPassword" style="color: red">
      La contraseña y la confirmacion no coinciden
    </ion-label>
    <ion-button
      class="btn-submit"
      expand="full"
      color="primary"
      [disabled]="!registerForm.valid"
      type="submit"
      >Registrarme
    </ion-button>
  </form>
</ion-content>
