<ion-header class="ion-no-border" >
  <ion-toolbar color="primary" class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">Administración</ion-title>
  </ion-toolbar>
  
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content >
  <ion-list class="ion-no-padding">
    <ion-card *ngFor="let w of workshops; let i = index" 
    class="ion-activatable ripple-parent ion-no-margin" (click)="editWS(w)"
    >
      <ion-card-content>
        <ion-card-title >{{w.titulo}}</ion-card-title>
        <ion-item class="ion-float-right ion-no-padding">
          <ion-icon name="eye-outline" color="secondary"></ion-icon>
        </ion-item> 
      </ion-card-content>
          
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin">
    <ion-fab-button (click)="navigate('addws')">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>