ion-header {
  background: var(--ion-color-primary);
}

ion-list {
  background-color: transparent;

  ion-item {
    --background: transparent;
    --border-style: none;

    --padding-end: 0px;
    --inner-padding-end: 0px;
  }
}

ion-card {
  position: relative;
  border-radius: 0;
  box-shadow: none;

}

ion-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-card-title {
  font-size: 16px;
  color: var(--ion-color-dark);
  font-weight: 500;
}
