ion-header {
  background: var(--ion-color-primary);
}

ion-list {
  background-color: transparent;

  ion-item {
    --background: transparent;
    --border-style: none;

    --padding-end: 0px;
    --inner-padding-end: 0px;
  }
}

.content {

  ion-card {
    position: relative;
    border-radius: 0;
    box-shadow: none;
  
    ion-card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .left {
        width: 90%;
        
        .list-title {
          color: var(--ion-color-secondary);
        }
      }
  
      .right {
        width: 10%;
        font-size: 24px;
        display: flex; 
        align-items: center; 
        justify-content: flex-end;
        
        color: var(--ion-color-secondary);
      }
    }
  }
}




ion-card-title {
  font-size: 16px;
  color: var(--ion-color-dark);
  font-weight: 500;
}
