<ion-header style="background: var(--ion-color-tertiary);">
  <ion-toolbar color="tertiary" >
    <ion-title class="ion-no-padding">Administracion</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>


    <ion-progress-bar *ngIf="loading" type="indeterminate" color="primary"></ion-progress-bar>
  </ion-toolbar>
  
  
</ion-header>

<ion-content class="has-footer ion-padding-bottom" >
  <ion-searchbar placeholder="Buscar taller" (ionChange)="search($event.detail.value)"></ion-searchbar>

  <app-edit *ngIf="!searching" [editing]="false" (saveWorkshop)="saveWorkshop($event)"></app-edit>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </ion-refresher>

  
  
  <ion-list class="ion-no-padding" *ngIf="loading && firstLoad" >
    <ion-card *ngFor="let i of ' '.repeat(5).split('')" style="transition: all .3s ease;">
      <ion-card-content>
        <ion-card-title ><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-title>
        <ion-card-subtitle><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-list>


  <ion-list class="ion-no-padding content">
    <ion-virtual-scroll [items]="workshops" approxItemHeight="70px" >
      <ion-card *virtualItem="let workshop; let i = index"
       (click)="workshopHandleCLick(i, workshop)" 
       [ngClass]="{'unread': !workshop.readed}"
        class="ion-activatable ripple-parent ion-no-margin" >
        <div *ngIf="i != 0 && !userData.isLoggedIn" class="mask"></div>

        <ion-card-content>
          <div class="left">
            <ion-card-title class="list-title">{{workshop.title}}
            </ion-card-title>
            <ion-card-subtitle>{{workshop.lessons_count}} Lecciones.</ion-card-subtitle>
          </div>

          <div class="right">
            <ion-icon  name="chevron-forward" ></ion-icon>
          </div>
        </ion-card-content>

        
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </ion-virtual-scroll>
  </ion-list>
 

  <ion-infinite-scroll  position="bottom" threshold="20%" (ionInfinite)="loadMore($event)" disabled="true">
    <ion-infinite-scroll-content class="ion-padding-top" loadingSpinner="crescent" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>