<ion-header>
  <ion-toolbar color="primary" >
    <ion-title class="ion-no-padding">{{workshop.title}}</ion-title>
    <ion-buttons slot="start">
      <Ion-menu-button ></Ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segmentValue">
  <ion-segment-button value="edit">
    <ion-label>Editar</ion-label>
  </ion-segment-button>
  <ion-segment-button value="lessons">
    <ion-label>lecciónes</ion-label>
  </ion-segment-button>
  <ion-segment-button value="users">
    <ion-label>Usuarios</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content>
  <div [ngSwitch]="segmentValue">
    <app-edit *ngSwitchCase="'edit'"></app-edit>
    <app-lessons *ngSwitchCase="'lessons'"></app-lessons>
    <app-users *ngSwitchCase="'users'"></app-users>
  </div>
</ion-content>
