ion-card-header {
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px 4px 16px;
}

.content {
    ion-card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .left {
          width: 90%;
          color: var(--ion-color-medium);
        }
    
        .right {
          width: 10%;
          font-size: 24px;
          display: flex; 
          align-items: center; 
          justify-content: flex-end;
          
          color: var(--ion-color-secondary);
        }
      }
}