<ion-card>
  <ion-card-header >
    <ion-card-title>{{ editing ? 'Editar Lección' : 'Agregar Lección'}}</ion-card-title>
    <ion-button fill="clear" color="secondary" [disabled]="!lessonForm.valid" (click)="save(lessonForm.value)">
      Guardar
    </ion-button>
  </ion-card-header>
  <ion-card-content class="ion-margin-bottom">
    <form
    [formGroup]="lessonForm"
    (ngSubmit)="save(lessonForm.value)"
    >
      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="titleinput">Titulo</ion-label>
        <ion-input formControlName="title" type="text" placeholder="Ingresa un titulo de la lección"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.title">
        <div class="validation"
          *ngIf="lessonForm.get('title').hasError(validation.type) && 
                    (lessonForm.get('title').dirty ||
                    lessonForm.get('title').touched)"
        >
          {{ validation.message}}
        </div>
      </ng-container>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="titleinput">Descripción</ion-label>
        <ion-input formControlName="description" type="text" placeholder="Ingresa una descripción para la lección"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.description">
        <div class="validation"
          *ngIf="lessonForm.get('description').hasError(validation.type) && 
                    (lessonForm.get('description').dirty ||
                    lessonForm.get('description').touched)"
        >
          {{ validation.message}}
        </div>
      </ng-container>
    </form>
  </ion-card-content>
</ion-card>



