
.header {
  box-shadow: none;
}

ion-list {
  ion-card {
    padding-left: 8px;
  
    .icon-container{
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        font-size: 24px;
        color: var(--ion-color-medium);
      }
    }
    
    &.unread {
      background: #f2f3ff;
      //background: #f2f9fd;
      border-bottom: none;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

     // border-radius: 5px; 
      &::after{
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--ion-color-secondary);
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
      }
      
      ion-card-title {
        color: var(--ion-color-dark);
        font-weight: 500;
      }
      .icon-container{
        ion-icon {
          color: var(--ion-color-secondary);
        }
      }
      
    }

    &.disabled {
      background: #f1f1f1!important;
      border: none;

    }
  
    ion-card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
  }
}

.back {
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}
