<ion-header>
  <ion-toolbar color="primary" >
    <ion-title class="ion-no-padding">{{workshop.title}}</ion-title>
    <ion-buttons slot="start">
      <Ion-menu-button ></Ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-no-margin header">
    <ion-card-header>
      <ion-card-title class="title">{{ workshop.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{workshop.description}}
    </ion-card-content>
  </ion-card>
  <ion-list class="ion-no-padding">
    <ion-card *ngFor="let lesson of workshop.lessons" 
    class="ion-activatable ripple-parent ion-no-margin" 
    [ngClass]="{'unread': !lesson.readed}"
    (click)="navigate(lesson.id)">
      <ion-card-content class="ion-no-padding ion-margin-start" >

        <ion-card-title  class="lesson-title">{{ lesson.name }}</ion-card-title>  
        
        
        <ion-item class="ion-no-padding">
          <ion-icon name="play" ></ion-icon>
        </ion-item>

      </ion-card-content>
      <ion-ripple-effect></ion-ripple-effect>
      

    </ion-card>
  </ion-list>
</ion-content>
